@font-face {
    font-family: Coda;
    src: url(./fonts/Coda-Heavy.ttf);
}

body {
    padding: 0;
    margin: 0;
}

div.slides {
    display: grid;
    padding: 1vw;
    width: 100vw;
    height: 100vh;
}

section {
    display: none;
    justify-self: center;
    align-self: center;
}

h2, h3, .author {
    -webkit-text-stroke: 2px black;
    font-family: Coda, serif;
    color: white;
    font-size: 4vw;
    line-height: 1vw;
    justify-self: center;
}

h2 {
    font-size: 8vw;
}
